---
sitemap:
  exclude: 'yes'
---

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,500');

$color_black:		#111;
$color_accent:	#71382d;

@mixin font_label {
	font-size:12px;
	text-transform:uppercase;
	letter-spacing:1px;
}
@mixin font_event_title {
	font-size:24px;
	font-weight:500;
	padding:10px 0;
	text-decoration:none;
}

html,
body {
	background:#c68d7f;
	color:$color_black;
	font-family:'Roboto', sans-serif;
	font-weight:300;
	width:100%;
	height:100%;
	margin:0;
	padding:0;
}

a,
a:hover {
	text-decoration:none;
}
a {
	color:$color_black !important;
}
a:hover {
	color:$color_black !important;
}

p a,
p a:hover {
	font-weight:500;
	text-decoration:none;
	border-bottom:2px solid #111;
}

.wrapper {
	margin-left:0;
}

article.post {
	padding-top:20vh;	
}
article.post .post_title {
	@include font_event_title;
}

#site_title {
	z-index:2000;
	display:block;
	visibility:visible;
	position:fixed;
	font-size:60px;
	font-weight:100;
	top:20vh;
	left:5vh;
}
#site_title.hide {
	display:none;
	visibility:hidden;
}

#navigation {
	z-index:2000;
	position:fixed;
	height:5vh;
	left:5vh;
	top:5vh;
}
#navigation a .btn {
	@include font_label;
	font-weight:500;
	display:block;
	width:auto;
	height:20px;
}
#navigation a {
	display:inline-block;
	border:none;
	cursor:pointer;
}
#navigation a:hover {
	color:$color_accent !important;
}
#navigation a .btn#about {
	margin-left:2.5vh;
}

#social {
	z-index:2000;
	position:fixed;
	bottom:5vh;
	left:5vh;
}
#social .element {
	background:transparent;
	width:20px;
	height:20px;
}
#social .element#instagram {
	background-image:url(../images/icons/instagram.png);
	background-size:100% 100%;
	background-repeat:no-repeat;
	background-position:0 0;
}

.panel {
	background-image:url(../images/assets/splash.jpg);
	background-repeat:no-repeat;
	background-size:auto 90vh;
	background-opacity:0.4;
	width:50%;
	width:calc(100vw / 2);
	min-height:100%;
}
.panel#panel_left {
	position:fixed;
	background-color:#fff;
	background-position:calc(100% + ((90vh * 0.8)/2)) calc(5vh); /* image is 4x5, hence the 0.8 */
}
.panel#panel_right {
	z-index:1000;
	float:left;
	position:relative;
	background-position:calc(((90vh * 0.8)/2) * -1) calc(5vh);
	height:105vh;
	margin-left:50%;
	margin-left:calc(100vw / 2);
}

.event_reel:first-child {
	padding-top:60vh;
}
.event_reel {
	float:right;
	text-align:right;
	width:100%;
	padding:5vh 5vh 0 0;
}
.event_reel .title {
	@include font_label;
}
.event_reel .event_title,
.event_reel .event_title a {
	@include font_event_title;
	border-bottom:none;
}
.event_reel .event_title a:hover {
	text-decoration:underline;
}

