{% include header.html %}
<div id='site_title'>{{ site.title }}</div>
<div id='social'>
	<a target='_blank' href='https://www.instagram.com/_two_waters/'><div class='element' id='instagram'></div></a>
</div>
<div class='panel' id='panel_left'></div>
<div class='panel' id='panel_right'>
	<div class='event_reel' id='events_upcoming'>
		<div class='title'>Upcoming events</div>
		<div class='events'>
			{% for post in site.posts %}
				{% if post.event_past == false %}
					<div class='event_title'><a target='_blank' href='{{ post.eventbrite }}'>{{ post.title }}</a></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
	<div class='event_reel' id='events_past'>
		<div class='title'>Past events</div>
		<div class='events'>
			{% for post in site.posts %}
				{% if post.event_past == true %}
					<div class='event_title'><a target='_blank' href='{{ post.eventbrite }}'>{{ post.title }}</a></div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
{% include footer.html %}